body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Prevent FOUCE for mx-web-components */
kds-tag:not(:defined),
kds-message:not(:defined),
kds-button:not(:defined) {
  visibility: hidden;
}
